{% extends 'base/body.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="post" action=".">

<div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
			<i class="fa-solid fa-trash-can"></i>
			{{ title }}
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

		{% csrf_token %}

		<div class="alert alert-warning alert-dismissible">
                  <h5><i class="fa-solid fa-question"></i> &nbsp; Important!</h5>
		¿Are you sure you want to continue with the elimination? 
                </div>

              </div>
              <!-- /.card-body -->
	      <!-- card footer -->
		<div class="card-footer">
			<button type "submit" class="btn btn-primary">
				<i class="fa-solid fa-check"></i>&nbsp;Confirm deletion
			</button>

			<a href="{{ url_list }}" class="btn btn-secondary">
				<i class="fa-solid fa-xmark"></i> &nbsp;Cancel
			</a>
		</div>
            </div>
		<!-- Modal -->
		<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Continue with the elimination</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		      </div>
		      <div class="modal-body">
			Important! Before proceeding with the deletion of the registry, consider
			whether you really want to do it. If you are not sure, we recommend that you
			cancel this operation.
		      </div>
		      <div class="modal-footer">

			<a href="{{ url_list }}" class="btn btn-secondary">
				<i class="fa-solid fa-xmark"></i> &nbsp;Cancel
			</a>
			<button type="button" class="btn btn-danger" data-dismiss="modal">Continue</button>
		      </div>
		    </div>
		  </div>
		</div>
</form>
<script>
 $('#Modal').modal('show');
</script>
{% endblock %}

