{% extends 'base/list.html' %}

{% block columns %}
	<tr>
		<th scope="col" style="width:5%;">Id</th>
		<th scope="col" style="width:20%;">Name</th>
		<th scope="col" style="width:65%;">Description</th>
		<th scope="col" style="width:10%;">Actions</th>
	</tr>
{% endblock %}

{% block rows %}

	{% for category in object_list %}
	<tr>
		<td> {{ category.id }} </td>
		<td> {{ category.name }} </td>
		<td> {{ category.description }} </td>
		<td>
		<a href="{% url 'erp:category-update' category.id %}" class="btn btn-info">
			<i class="fa-regular fa-pen-to-square"></i>
		</a>
		<a href="{% url 'erp:category-delete' category.id %}" class="btn btn-danger">
			<i class="fa-regular fa-trash-can"></i>
		</a>
		</td>
	</tr>
	{% endfor %}

{% endblock %}
