{% extends 'base/list.html' %}

{% block columns %}
	<tr>
		<th scope="col" style="width:5%;">Id</th>
		<th scope="col" style="width:20%;">Card Identity</th>
		<th scope="col" style="width:20%;">Name</th>
		<th scope="col" style="width:20%;">Last Name</th>
		<th scope="col" style="width:20%;">Phone</th>
		<th scope="col" style="width:15%;">Actions</th>
	</tr>
{% endblock %}

{% block rows %}
	{% for client in object_list %}
	<tr>
		<td> {{ client.id }} </td>
		<td> {{ client.identity_card_number }} </td>
		<td> {{ client.name }} </td>
		<td> {{ client.last_name }} </td>
		<td> {{ client.phone_number }} </td>
		<td>
		<a href="{% url 'erp:client-detail' client.id %}" class="btn btn-success">
			<i class="fa-regular fa-eye"></i>
		</a>
		<a href="{% url 'erp:client-update' client.id %}" class="btn btn-info">
			<i class="fa-regular fa-pen-to-square"></i>
		</a>
		<a href="{% url 'erp:client-delete' client.id %}" class="btn btn-danger">
			<i class="fa-regular fa-trash-can"></i>
		</a>
		</td>
	</tr>
	{% endfor %}
{% endblock %}


