{% extends 'base/body.html' %}
{% load static %} 

{% block content %}
<div class="row">

	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-info">
			<div class="inner">
				<h3>{{amount_total_products}}</h3>
				<p>Amount Total Products</p>
			</div>
			<div class="icon">
				<i class="fa-solid fa-boxes-stacked"></i>
			</div>
		</div>
	</div>
	<!-- ./col -->

	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-success">
			<div class="inner">
				<h3>{{amount_of_all_sales}}</h3>
				<p>Amount of All Sales</p>
			</div>
			<div class="icon">
				<i class="fa-solid fa-hand-holding-dollar"></i>
			</div>
		</div>
	</div>
	<!-- ./col -->

	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-warning">
			<div class="inner">
				<h3>${{last_sale_total}}</h3>
				<p>Revenues from Last Sale</p>
			</div>
			<div class="icon">
				<i class="fa-solid fa-money-bill-wave"></i>
			</div>
		</div>
	</div>
	<!-- ./col -->

	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-danger">
			<div class="inner">
				<h3>{{amount_of_all_sales_current_date}}</h3>
				<p>Amount of All Sales Current Date</p>
			</div>
			<div class="icon">
				<i class="fas fa-chart-pie"></i>
			</div>
		</div>
	</div>
	<!-- ./col -->
</div>

{% endblock %}
