{% extends 'base/list.html' %}
{% load static %}

{% block columns %}
<tr>
	<th scope="col" style="width:5%;">Id</th>
	<th scope="col" style="width:15%;">Client Identity Card</th>
	<th scope="col" style="width:15%;">Client First Name</th>
	<th scope="col" style="width:15%;">Client Last Name</th>
	<th scope="col" style="width:20%;">Date</th>
	<th scope="col" style="width:20%;">Total</th>
	<th scope="col" style="width:10%;">Actions</th>
</tr>
{% endblock %}

{% block rows %}
{% for sale in object_list %}
<tr>
	<td>{{ sale.id }}</td>
	<td>{{ sale.client }}</td>
	<td>{{ sale.client.first_name }}</td>
	<td>{{ sale.client.last_name }}</td>
	<td>{{ sale.date | date:"d/m/y , P" }}</td> <!-- <fecha> , <hora> -->
	<td>${{ sale.total }}</td>
	<td>
		<a href="{% url 'erp:sale-detail' sale.id %}" class="btn btn-outline-success">
			<i class="fa-solid fa-file-invoice-dollar"></i>
		</a>
		<a href="{% url 'erp:sale-delete' sale.id %}" class="btn btn-danger">
			<i class="fa-regular fa-trash-can"></i>
		</a>
	</td>
</tr>
{% endfor %}
{% endblock %}
